VITE_FIREBASE_API_KEY=cole-aqui
VITE_FIREBASE_AUTH_DOMAIN=cole-aqui
VITE_FIREBASE_PROJECT_ID=cole-aqui
VITE_FIREBASE_STORAGE_BUCKET=cole-aqui
VITE_FIREBASE_MESSAGING_SENDER_ID=cole-aqui
VITE_FIREBASE_APP_ID=cole-aqui
